* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

#content {
    font-family: 'Roboto', sans-serif;
    color:black;
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media screen  and (max-width:560px) and (min-width:300px) {

    /* Pagina de registro */
    .registerStyle {
        background-color: white;
        background-repeat: no-repeat;
        background-size: cover;
    }
        
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 5%;
    }

    .apiLogoStyle {
        width: 15%;
    }

    .apiNameStyle {
        width: 60%;
    }

    .mainStyle {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .register-box {
        background: linear-gradient(180deg, #4AE387 0%, rgba(255, 255, 255, 0) 100%), #4DB6AC;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        margin: 5%;
        width: 70%;
        height: 240px;
        left: 86px;
        top: 171px;
        padding: 20px;
    }

    .login-box {
        background: linear-gradient(180deg, #4AE387 0%, rgba(255, 255, 255, 0) 100%), #4DB6AC;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        margin: 5%;
        width: 70%;
        height: 240px;
        left: 86px;
        top: 171px;
        padding: 20px;
    }

    .inputDiv {
        margin: 20px;
    }

    .inputForm {
        margin-bottom: 25px;
        border-radius: 15px;        
        width: 80%;
        padding: 10px 15px;
    }

    .titleForm {
        color: white;
        font-size: large;  
    }

    .titleForum {
        color: black;
        font-size: large; 
    }

    .btnFormStyle {
        width: 132px;
        height: 41px;
        left: 134px;
        top: 454px;
        color: white;
        background: #F57C00;
        border-radius: 20px;
        font-size: medium;
        margin-bottom: 25px;
    }

    .btnFormStyle:hover {
        background-color: tomato;
        cursor: pointer;
    }

    .google-Btn {
        width: 190px;
        border-radius: 5px;
    }
        
    .google-Btn:hover {
        background-color: tomato;
        cursor: pointer;
    }

    /* Pagina de Login */

    .forgottenP {
        margin-top: 25px;
    }

    /* Pagina Home */

    .apiMobileStyle {
        width: 50%;
    }

    .icons-style {
        height: 20px;
        width: 20px;
    }

    .up-bar {
        display: none;
    }

    .mobile-bar {
        display: block;
    }

    .headMobile {
        background-color: #2f9f97;
        padding: 10px;        
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #2f9f97;
    }
        
    li {
        float: inline-start;
    }
        
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 15px;
        text-decoration: none;
    }
        
    li a:hover {
        background-color: rgb(177, 177, 177);
    }

    .stgoView {
        display: flex;
        justify-content: center;
    }

    #selectSchool {
        display: flex;
        background: linear-gradient(180deg, rgb(245, 171, 34) 0%, rgba(255, 255, 255, 0) 100%), #F57C00;
        width: 300px;
        height: 80px;
        border-radius: 30px;
        box-shadow: 0px 4px 4px
        rgba(0, 0, 0, 0.25);
        margin: 2%;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    .selectStyle {
        color: white;
        font-weight: bold;
        padding: 5%;
    }

    /* .stgoView {
        background-color: linear-gradient(180deg, rgb(245, 171, 34) 0%, rgba(255, 255, 255, 0) 100%), #F57C00;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        margin: 45px;
        width: 70%;
        height: 150px;
        left: 86px;
        top: 171px;
        padding: 10px;
    }

    #selectSchool p {
        color: white;
        
        } */
}

/* ====== PARA TABLETS O DESKTOP ======  */

@media screen and (min-width:561px) {

    .titleForm {
        color: white;
        font-size: large;
    }

    .registerStyle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        margin-top: 20px;
    }

    .apiLogoStyle {
        width: 18%;
    }

    .apiNameStyle {
        width: 50%;
    }

    .mainStyle {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .register-box {
        background: linear-gradient(180deg, #4AE387 0%, rgba(255, 255, 255, 0) 100%), #2f9f97;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        margin: 5%;
        width: 70%;
        height: 240px;
        left: 86px;
        top: 171px;
        padding: 20px;
    }

    .linksStyle {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .linksStyle p {
        margin: 10px;
        margin-top: 10px;

    }

    .google-Btn {
        width: 60%;
        border-radius: 5px;
    }
        
    .google-Btn:hover {
        background-color: tomato;
        cursor: pointer;
    }

    .inputDiv {
        margin-top: 20px;
    }

    .inputForm {
        margin-bottom: 25px;
        outline: none;
        width: 80%;
        padding: 10px 15px;
        border-radius: 15px;        
    }

    .btnFormStyle {
        width: 132px;
        height: 41px;
        left: 134px;
        top: 454px;
        color: white;
        background: #F57C00;
        border-radius: 20px;
        font-size: medium;
        margin-top: 20px;
    }

    .btnFormStyle:hover {
        background-color: tomato;
        cursor: pointer;
    }

/* Pagina de Login */    

    .login-box {
        background: linear-gradient(180deg, #4AE387 0%, rgba(255, 255, 255, 0) 100%), #2f9f97;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        margin: 5%;
        width: 40%;
        height: 260px;
        left: 86px;
        top: 171px;
        padding: 20px;
    }

    .login-box h3 {
        margin-bottom: 10px;
    }

    .loginStyle {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: column;
    }

/* Pagina de Home */

    header {
        display: flex;
        justify-content: space-between;
    }

    .nav {
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: row;
        background-color: rgb(228, 228, 228);
    }

    .up-bar {
        display: block;
    }

    .mobile-bar {
        display: none;
    }

    .logoStyle {
        width: 30%;
        float: left;
        margin-right: 280px;
    }

    .icons-style {
        margin-right: 5px;
    }

    ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 10px;
        overflow: hidden;
        background-color: #2f9f97;
    }
            
    li {
        float: right;
    }
            
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 20px;
        text-decoration: none;
    }
            
    li a:hover {
        background-color: rgb(177, 177, 177);
    }

    .stgoView {
        display: flex;
        justify-content: center;
    }

    #selectSchool {
        display: flex;
        background: linear-gradient(180deg, rgb(245, 171, 34) 0%, rgba(255, 255, 255, 0) 100%), #F57C00;
        width: 500px;
        height: 80px;
        border-radius: 30px;
        box-shadow: 0px 4px 4px
        rgba(0, 0, 0, 0.25);
        margin: 2%;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    .selectStyle {
        color: white;
        font-weight: bold;
        padding: 5%;
    }
}

/* h1{
position: absolute;
width: 242px;
height: 53px;
left: 86px;
top: 55px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 45px;
line-height: 53px;
/* identical to box height */
/* text-align: center;
color: #000000;
} */

/* #logo{
size: 100%;
} */



/* CODIGO DE FERNANDA PARA MOSTRAR TARJETAS */
@media screen and (max-width:560px) and (min-width:300px){

/*tarjeta*/
.businessCard{
    /* width: 55%; */
    margin: auto;
    border: solid 2px #48a999;
    background-color: white;
    border-radius: 5px;
    display: flex;
    /* flex-direction: column;   */
    font-family: 'roboto', sans-serif;
    flex-wrap: wrap;
}
.businessCard img{
    display: flex;
    margin: 3px;
    border-radius: 5px;
    width: 150px;
    height: 150px;
}
.contentStyle{
    display: flex;
    flex-direction: row;
    flex-direction: column; 
}

.titulo{
    display: flex;
}
.contenido{
    display: flex;
    flex: start;
}
.img{
    display: flex;
    justify-content: space-between;
}

#forumStyle {
    background: linear-gradient(180deg, #4AE387 0%, rgba(255, 255, 255, 0) 100%), #4DB6AC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin: 45px;
    width: 100%;
    height: 300px;
    left: 86px;
    top: 171px;
    padding: 10px;
}
}