h1{
position: absolute;
width: 242px;
height: 53px;
left: 86px;
top: 55px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 45px;
line-height: 53px;
/* identical to box height */

text-align: center;

color: #000000;
}

.images{

}


.btn{

}

.btnMenu{

}


.close{

}

.login{

}

.input{

}