
#content {
    font-family: 'Roboto', sans-serif;
    color:black;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; 
}

@media screen  and (max-width:560px) and (min-width:300px) {
    /* Pagina de registro */
    .registerStyle {
        background-color: white;
        background-repeat: no-repeat;
        background-size: cover;
    }
        
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .apiLogoStyle {
        width: 30%;
    }

    .mainStyle {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }

    .register-box {
        background: linear-gradient(180deg, #4AE387 0%, rgba(255, 255, 255, 0) 100%), #4DB6AC;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        margin: 5%;
        width: 70%;
        height: 240px;
        left: 86px;
        top: 171px;
        padding: 20px;
    }

    .inputForm {
        margin-bottom: 25px;
        border-radius: 15px;        
        width: 80%;
        padding: 10px 15px;
    }

    .titleForm {
        color: white;
        font-size: large;
        
    }

    .btnFormStyle {
        width: 132px;
        height: 41px;
        left: 134px;
        top: 454px;
        color: white;

        background: #F57C00;
        border-radius: 20px;
        font-size: medium;
        margin-bottom: 25px;
    }

    .btnFormStyle:hover {
        background-color: tomato;
        cursor: pointer;
    }

    .google-Btn {
        width: 190px;
        border-radius: 5px;
    }
        
    .google-Btn:hover {
        background-color: tomato;
        cursor: pointer;
    }

    /* Pagina de Login */

    .forgottenP {
        margin-top: 25px;
    }

    /* Pagina Home */
    .icons-style {
        height: 20px;
        width: 20px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(216, 216, 216);
    }
        
    li {
        float: inline-start;
    }
        
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 15px;
        text-decoration: none;
    }
        
    li a:hover {
        background-color: #4DB6AC;
    }

    .stgoView {
        background-color: #4DB6AC;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        margin: 45px;
        width: 70%;
        height: 150px;
        left: 86px;
        top: 171px;
        padding: 10px;
    }

    #selectSchool p {
        color: white;
        }
}

@media screen and (min-width:561px) {
    #content {
        font-family: 'Roboto', sans-serif;
        color:black;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center; 
    }

    body {        
        background-image: url('img/paperBackground.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    };

    .titleForm {
        color: white;
        font-size: large;
        
    }

    .registerStyle {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    };

    .logo {
        justify-content: center;
    }

    .apiLogoStyle {
        width: 20%;
    }

    .mainStyle {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }

    .register-box {
        background: linear-gradient(180deg, #4AE387 0%, rgba(255, 255, 255, 0) 100%), #4DB6AC;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        margin: 5%;
        width: 70%;
        height: 240px;
        left: 86px;
        top: 171px;
        padding: 20px;
    }

    .google-Btn {
        width: 60%;
        border-radius: 5px;
    }
        
    .google-Btn:hover {
        background-color: tomato;
        cursor: pointer;
    }

    .inputForm {
        margin-bottom: 25px;
        outline: none;
        width: 80%;
        padding: 10px 15px;
        border-radius: 15px;        

    }

    .btnFormStyle {
        width: 132px;
        height: 41px;
        left: 134px;
        top: 454px;
        color: white;

        background: #F57C00;
        border-radius: 20px;
        font-size: medium;
        margin-bottom: 25px;
    }

    .btnFormStyle:hover {
        background-color: tomato;
        cursor: pointer;
    }
/* Pagina de Login */    
    .loginStyle {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: column;
    }

    .loginLinks {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav {
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: row;
        background-color: rgb(228, 228, 228);
    }

    /* .homeStyle {

    } */

/* Pagina de Home */











};